
a1 {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a1:hover, a1:focus {
	color: #2c774b;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

button {
    width: 100%;
	border: none;
	padding: 0.6em 1.2em;
	background: #999999;
	color: #ffffff;
	font-family: Arial;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 2px 0px 2px 0px;
	border-radius1: 2px;
}

button:hover {
	background: #ff0000;
}
