
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

button {
    width: 100%;
	border1: none;
	padding1: 0.6em 1.2em;
	background: #cccccc;
	color: #ffffff;
	font-family1: Arial;
	font-size: 1em;
	font-weight: 700;
	letter-spacing1: 1px;
	text-transform1: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 2px 0px 2px 0px;
	border-radius1: 2px;
	position: relative;
	left: 50%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

button:hover {
	background: #ff0000;
}
