@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
}
body {
    background-color1: #000000;
    color: #ffffff;
    font-family: "PressStart2P";
    font-size1: 100%;
    width1:  100%;
    height1: 100%;
    margin1: 0px;
}
canvas {
    border: 0px solid #ffffff;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
button {
    font-family: "PressStart2P";
    background: #000;
    width: 200px;
    height: 100px;
    font-size1: 12px;
   /* background-color1: #f5f5f5;*/
    color: #fff; /* Цвет ссылок */
    cursor: pointer;
	font-weight: bold;  /* Толщина текста */
/*    float1: right;
    position1: relative;*/
    text-align: center;
	text-decoration: underline;
    border: 2px solid #ffffff;
	border1: none;
/*    width1: 100px;
    height1: 50px;
    margin-bottom1: 2px;*/
	margin1: 2px;
    position: relative;
    z-index: 10;
}
button:hover {
	color: #6699ff; /* Цвет ссылок при наведении курсора */
	background: #ffffff;
	border: 2px solid #ffcc00;
    text-decoration1: underline;
}
.buttontocenter {
    text-align: right;
}